@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,700i&display=swap&subset=latin-ext');


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $black;
  background: $lightblue;  
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-wrap: wrap;
  font-weight: bold;
}

.editor {
  background: $white;
  border-radius: 20px;
  width: 100%;
  max-width: 700px;
  min-width: 300px;   
  padding: 32px;
}


.form {

&__header {
  margin: 0 0 32px 0;
  font-size: 36px;
}

&__input{
  border-radius: 10px;
  height: 45px;
  margin-top: 5px;
  padding: 5px;
} 

&__textarea{
  border-radius: 20px;
  min-height: 200px;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}

&__description{
  margin-top: 40px;
}

&__button{
  display: inline-block;
  background-color: $darkblue; /* dark blue */
  font-size: 12px;
  font-weight: 100;
  text-decoration: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  padding: 10px 40px;
  text-transform: uppercase; 
  margin: 5px;
  transition: background-color .3s ease-in-out;  
  &:hover {
    background-color: $lightblue;
  }
}
&__button-container{
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

}

